.rectangle {
    position: fixed;
    top: 35%;

    border-radius: 300px;
    width: 49%;
    min-width: 300px;
    height: 300px;

    z-index: -1;

    background: #7075f1;
    animation: rotatingAppear 1.2s both ease-in-out;

    @keyframes rotatingAppear {
        0% {
            transform: rotate(0deg) scale(0.2);
        }
        100% {
            transform: rotate(390deg) scale(1);
        }
    }
}
